/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/_base.scss */
html, body {
  font-family: 'Roboto';
}

/* line 15, ../sass/_base.scss */
body {
  background-color: #ededed;
}
@media only screen and (max-width: 992px) {
  /* line 15, ../sass/_base.scss */
  body {
    background-color: #fff;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 22, ../sass/_base.scss */
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media only screen and (max-width: 992px) {
  /* line 29, ../sass/_base.scss */
  .container {
    max-width: none;
  }
}

/* line 35, ../sass/_base.scss */
.container {
  padding: 15px 30px;
}

/* line 39, ../sass/_base.scss */
.desktop-header-wrapper {
  background-color: #fff;
}

/* line 43, ../sass/_base.scss */
.desktop-content-wrapper {
  padding: 15px 30px;
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  /* line 43, ../sass/_base.scss */
  .desktop-content-wrapper {
    padding: 15px;
  }
}

/* line 51, ../sass/_base.scss */
.navbar-brand {
  margin-right: 0;
}

/* line 55, ../sass/_base.scss */
footer {
  color: #ffffff;
  background-color: #1c1c1d;
  padding: 50px 15px;
}

/* line 62, ../sass/_base.scss */
a:hover {
  cursor: pointer;
}

/* line 137, ../sass/_base.scss */
button {
  border: none;
}
/* line 139, ../sass/_base.scss */
button:hover {
  cursor: pointer;
}

/* line 144, ../sass/_base.scss */
button, a {
  outline: none !important;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENT
----------------------------------------------------------------
#Fonts
#Nav / Logo / Search
##Nav
##Logo
##Search
#Content
##Containers
##Articles
###Containers
###Images
###Hover
#Footer

--------------------------------------------------------------*/
/*----------------------------------*/
/* FONTS                   
/*----------------------------------*/
/* line 32, ../sass/screen.scss */
.desk-nav a {
  font-size: 16px;
  color: #1c1c1d;
  text-transform: uppercase;
}

/* line 37, ../sass/screen.scss */
.text {
  font-size: 14px;
  letter-spacing: 1px;
  color: #5f5f5f;
  line-height: 22px;
  font-weight: 400;
}

/* line 42, ../sass/screen.scss */
.title {
  margin: 10px 0;
  font-size: 24px;
  color: #1c1c1d;
  font-weight: 700;
  text-transform: capitalize;
}

/* line 47, ../sass/screen.scss */
.date {
  font-size: 11px;
  color: #1c1c1d;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 52, ../sass/screen.scss */
.category {
  font-size: 11px;
  color: #1c1c1d;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 56, ../sass/screen.scss */
.baseline {
  font-size: 12px;
  color: #777777;
  line-height: 14px;
}

/* line 60, ../sass/screen.scss */
.header-title {
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* line 60, ../sass/screen.scss */
  .header-title {
    font-size: 50px;
    line-height: normal;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  /* line 60, ../sass/screen.scss */
  .header-title {
    font-size: 50px;
    line-height: normal;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 60, ../sass/screen.scss */
  .header-title {
    font-size: 65px;
    line-height: normal;
  }
}

/*----------------------------------*/
/* #NAV / LOGO / SEARCH                   
/*----------------------------------*/
/*----------------------------------*/
/* ##NAV                   
/*----------------------------------*/
/* line 82, ../sass/screen.scss */
.nav {
  height: 150px;
  padding: 0 15px;
}

/* line 87, ../sass/screen.scss */
.nav-icon {
  width: 30%;
}

/* line 91, ../sass/screen.scss */
.navbar-toggler {
  padding: .25rem .75rem .25rem 0;
}

/* line 95, ../sass/screen.scss */
.navbar-toggler .icon-bar {
  background-color: #1c1c1c;
}

/* line 99, ../sass/screen.scss */
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

/* line 106, ../sass/screen.scss */
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* line 110, ../sass/screen.scss */
.indexcity {
  z-index: 9999;
  position: relative;
}
/* line 113, ../sass/screen.scss */
.indexcity .icon-bar {
  background-color: #ffffff;
}

/* line 118, ../sass/screen.scss */
.right {
  right: 0 !important;
  left: 0 !important;
}

@media only screen and (max-width: 992px) {
  /* line 123, ../sass/screen.scss */
  .nav-mobile {
    /*---- iOS ----*/
  }
  /* line 126, ../sass/screen.scss */
  .nav-mobile .desk-nav a {
    color: #fff;
  }
  /* line 129, ../sass/screen.scss */
  .nav-mobile .desk-nav .nav {
    flex-direction: row;
    display: flow-root;
    position: relative;
    top: 30%;
  }
  /* line 135, ../sass/screen.scss */
  .nav-mobile .desk-nav li {
    text-align: center;
    margin-bottom: 20px;
  }
  /* line 140, ../sass/screen.scss */
  .nav-mobile .navbar-collapse {
    background-color: rgba(28, 28, 29, 0.95);
    position: fixed;
    top: 0;
    transition: all 0.8s ease-out;
    height: 100%;
    width: 100%;
    left: 1024px;
    z-index: 2;
  }
  /* line 150, ../sass/screen.scss */
  .nav-mobile .navbar-inverse .navbar-nav > li > a {
    color: #000;
  }
  @supports (-webkit-appearance: none) {
    /* line 155, ../sass/screen.scss */
    .nav-mobile .safari_only {
      display: block;
    }
  }
  @supports (-webkit-text-size-adjust: none) and (not (-ms-ime-align: auto)) and (not (-moz-appearance: none)) {
    /* line 158, ../sass/screen.scss */
    .nav-mobile .safari_only {
      display: block;
    }
  }
  @supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) {
    /* line 160, ../sass/screen.scss */
    .nav-mobile .safari_only {
      display: block;
    }
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  @supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) {
    /* line 164, ../sass/screen.scss */
    .nav-mobile .nav {
      flex-wrap: nowrap;
    }
  }
}

@media only screen and (min-width: 1200px) {
  /* line 169, ../sass/screen.scss */
  .nav-hover {
    transition: 0.3s ease;
    background: #ffffff;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 20px 0;
    margin: 0 20px;
  }
  /* line 180, ../sass/screen.scss */
  .nav-hover:hover {
    border-top: 4px solid #d321f1;
    border-bottom: 4px solid #d321f1;
    color: #d321f1;
    padding: 6px 0;
  }
}

/*----------------------------------*/
/* ##SEARCH                   
/*----------------------------------*/
/* line 192, ../sass/screen.scss */
.search {
  margin-left: 15px;
}
/* line 194, ../sass/screen.scss */
.search .input-group {
  position: absolute;
  width: 0px;
  top: 100px;
  right: 30px;
  margin-left: 10px;
  overflow: hidden;
  transition: all ease .5s;
}
/* line 203, ../sass/screen.scss */
.search .input-open {
  width: 250px;
}
/* line 207, ../sass/screen.scss */
.search .btn-secondary:hover {
  color: #fff;
  background-color: #d321f1;
  border-color: #d321f1;
}

/* line 215, ../sass/screen.scss */
.btn-secondary {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #1c1c1d;
}
/* line 219, ../sass/screen.scss */
.btn-secondary:hover {
  color: #fff;
  background-color: #1c1c1d;
  border-color: #1c1c1d;
}

/* line 226, ../sass/screen.scss */
.search-icon-desk {
  display: none;
  cursor: pointer;
  transition: color ease .3s;
}
/* line 230, ../sass/screen.scss */
.search-icon-desk:hover {
  color: #d321f1;
}

/* line 235, ../sass/screen.scss */
.modal-backdrop.show {
  opacity: .9;
}

/* line 239, ../sass/screen.scss */
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

/* line 247, ../sass/screen.scss */
.close {
  font-size: 5rem;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 100%;
}

/*----------------------------------*/
/* ##LOGO                   
/*----------------------------------*/
/* line 259, ../sass/screen.scss */
.logo-mobile {
  margin-bottom: 10px;
}

/* line 263, ../sass/screen.scss */
.logo-desk {
  display: none;
}
/* line 265, ../sass/screen.scss */
.logo-desk img {
  width: 95px;
  margin-bottom: 5px;
}

/*----------------------------------*/
/* #HEADER                  
/*----------------------------------*/
/* line 274, ../sass/screen.scss */
.header-banner {
  overflow: hidden;
  min-height: 350px;
  background: url("../assets/img/image-article-1.jpeg") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* line 274, ../sass/screen.scss */
  .header-banner {
    min-height: 700px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  /* line 274, ../sass/screen.scss */
  .header-banner {
    min-height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 274, ../sass/screen.scss */
  .header-banner {
    min-height: 580px;
  }
}

/* line 293, ../sass/screen.scss */
.wrapper-banner {
  padding: 0;
  display: flex;
}
/* line 296, ../sass/screen.scss */
.wrapper-banner img {
  min-height: 350px;
  position: absolute;
  z-index: 0;
}

/* line 303, ../sass/screen.scss */
.banner-content {
  position: relative;
  padding: 30px;
}
@media only screen and (min-width: 1200px) {
  /* line 303, ../sass/screen.scss */
  .banner-content {
    padding-left: 70px;
  }
}
/* line 309, ../sass/screen.scss */
.banner-content h1 {
  margin-bottom: 30px;
}
/* line 312, ../sass/screen.scss */
.banner-content span {
  font-weight: 300;
}
/* line 315, ../sass/screen.scss */
.banner-content a {
  width: 100%;
  max-width: 355px;
  font-size: 14px;
  padding: 10px 0;
  transition: all ease .3s !important;
}
/* line 321, ../sass/screen.scss */
.banner-content a:hover {
  background-color: #d321f1 !important;
  color: #fff !important;
}

@media only screen and (max-width: 992px) {
  /* line 328, ../sass/screen.scss */
  .desktop-content-banner {
    padding: 0;
  }
}

/*----------------------------------*/
/* #CONTENT                   
/*----------------------------------*/
/*----------------------------------*/
/* ##ARTICLES                   
/*----------------------------------*/
/*----------------------------------*/
/* ###CONTAINERS                   
/*----------------------------------*/
/* line 343, ../sass/screen.scss */
article {
  margin: 15px 0;
}
/* line 345, ../sass/screen.scss */
article h2 .fa {
  float: right;
  display: none;
  left: 0;
  position: relative;
  transition: all ease .3s;
}
/* line 352, ../sass/screen.scss */
article:hover {
  cursor: pointer;
}
/* line 355, ../sass/screen.scss */
article:hover h2 > .fa {
  left: 10px;
  color: #d321f1;
}
/* line 359, ../sass/screen.scss */
article:hover .overlay {
  opacity: 1;
}

/* line 364, ../sass/screen.scss */
.header-article {
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(28, 28, 29, 0.12);
}

/* line 370, ../sass/screen.scss */
.main-article {
  height: 325px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 992px) {
  /* line 370, ../sass/screen.scss */
  .main-article {
    display: none;
  }
}
/* line 376, ../sass/screen.scss */
.main-article .wrapper-content {
  display: inline-block;
}

@media only screen and (max-width: 992px) {
  /* line 381, ../sass/screen.scss */
  .two-articles {
    display: none;
  }
}

/*----------------------------------*/
/* ###IMAGES                   
/*----------------------------------*/
/* line 390, ../sass/screen.scss */
.main-img-article {
  height: 400px;
  overflow: hidden;
  position: relative;
}

/* line 396, ../sass/screen.scss */
.img-article {
  overflow: hidden;
  position: relative;
  min-height: 260px;
  height: 260px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1200px) {
  /* line 396, ../sass/screen.scss */
  .img-article {
    height: 260px;
    min-height: 260px;
  }
}

/* line 408, ../sass/screen.scss */
.img-two-articles {
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

/*----------------------------------*/
/* ###HOVER                   
/*----------------------------------*/
/* line 418, ../sass/screen.scss */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: rgba(211, 33, 241, 0.6);
  transition: all ease .3s;
  display: none;
}
/* line 426, ../sass/screen.scss */
.overlay .fa {
  color: #fff;
  text-align: center;
}

/*----------------------------------*/
/* FOOTER                  
/*----------------------------------*/
/* line 436, ../sass/screen.scss */
footer .footer-text {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
/* line 439, ../sass/screen.scss */
footer .baseline-footer {
  font-size: 12px;
  margin-bottom: 0;
  color: #b7b7b7;
}
/* line 442, ../sass/screen.scss */
footer h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 446, ../sass/screen.scss */
footer hr {
  border-top: 1px solid #b7b7b7;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  /* line 452, ../sass/screen.scss */
  .wrapper-content-footer {
    padding: 0 30px;
  }
}

/* line 458, ../sass/screen.scss */
.logo-footer {
  width: 210px;
  margin: auto;
  margin-bottom: 30px;
}
/* line 462, ../sass/screen.scss */
.logo-footer img {
  display: block;
  margin-bottom: 20px;
}
